extends layout

block layout-content
  h1 Store
  table(class="table table-dark table-hover table-sm")
    tr
      th Name
      th Unit buying price
      th Tax
      th Quantity available
      th Selling Price
      th Current value
        //value of good basing on selling price
      
      th Buying Value 
        //value of good basing on buying price
      th Profit per unit
      th Total Profit in store
      //th Total quantity
    each products in product
      tr
        td= products.name
        td= products.buyingPrice
        td= products.tax
        td= products.quantity
        td= products.sellingPrice
        td
          = products.quantity * products.sellingPrice
        
        td= products.buyingValue
        td= products.profit
        td= products.profit * products.quantity
        

