extends base

block content
  h2 Store
  table(class="table1" id="table1")
    tr
      th Name
      th Unit buying price
      th(class="smallScreenHide") Tax
      th Quantity available
      th(class="smallScreenHide") Selling Price
      th(class="smallScreenHide") Current value
        //value of good basing on selling price

      th(class="smallScreenHide") Buying Value 
        //value of good basing on buying price
      th(class="smallScreenHide") Profit per unit
      th Total Profit in store
      //th Total quantity
    each products in product
      tr
        td
          a(href=`http://localhost:3000/singleProduct/${products._id}` id="deleteRecord" )= products.name
        td= products.buyingPrice
        td(class="smallScreenHide")= products.tax
        td= products.quantity
        td(class="smallScreenHide")= products.sellingPrice
        td(class="smallScreenHide")
          = products.quantity * products.sellingPrice

        td(class="smallScreenHide")= products.buyingValue
        td(class="smallScreenHide")= Math.round(products.profit)
        td= products.profit * products.quantity
    div(id="grid-container")
      h4(id="val")
      h4(id="totalProfit")
  br
  button(onclick='generateStoreGraph()' class="blueButton" style="width:170px") Generate graph
  br
  #chartContainer(style='height: 300px; width: 100%;')
    script.
      var table = document.getElementById("table1"), sumVal = 0;
      for(var i = 1; i < table.rows.length; i++)
      {
      sumVal = sumVal + parseInt(table.rows[i].cells[3].innerHTML);
      }
      document.getElementById("val").innerHTML = "Shoes in stock: " + sumVal;

      var table = document.getElementById("table1"), sumVal = 0;
      for(var i = 1; i < table.rows.length; i++)
      {
      sumVal = sumVal + parseInt(table.rows[i].cells[8].innerHTML);
      }
      document.getElementById("totalProfit").innerHTML = "Profit in store: " + sumVal.toLocaleString() + '/=';

      //document.getElementById('deleteRecord').addEventListener('click', deletePost);

   



