extends base

block content

  h1 Sale Transactions
  button(onclick='display()') Print records
  table( id="table1")
    tr
      th Name
      th Quantity sold
      th Selling Price
      th Paid
      th Profit made
      th Date sold
    each sells in sell
      tr
        td= sells.name
        td= sells.quantity
        td= sells.sellingPrice
        td= sells.paid
        td= sells.profit
        td= sells.date
  h3(id="val") 
  h3(id="val2")

  h1 Buying Transactions

  table(id="table")
    tr
      th Name
      th Quantity bought
      th Buying Price
      th Date bought 
    each products in product
      tr
        td(id="pName")= products.name
        td= products.cumulativeQuantity
        td= products.buyingPrice
        td= products.date


  script.
      var table = document.getElementById("table1"), sumVal = 0;
      for(var i = 1; i < table.rows.length; i++)
      {
      sumVal = sumVal + parseInt(table.rows[i].cells[4].innerHTML);
      }
      document.getElementById("val").innerHTML = "Total profit = " + sumVal;
      console.log(sumVal);


      var totalShoes = document.getElementById("table1"), Total = 0;
            for(var i = 1; i < totalShoes.rows.length; i++)
      {
      Total = Total + parseInt(totalShoes.rows[i].cells[1].innerHTML);
      }
      document.getElementById("val2").innerHTML = "Total shoes sold = " + Total;


      function display() {
      window.print();
      }

    function display() {
    window.print();
    }







