extends base

block content
  #chartContainer(style='height: 300px; width: 100%;')
  script(src='https://canvasjs.com/assets/script/jquery-1.11.1.min.js')
  script(src='https://canvasjs.com/assets/script/canvasjs.min.js')

  h2 Sale Transactions
  button(onclick='display()' class="blueButton" style="width:100px") Print records
  br
  table( id="table1" class="table1")
    tr
      th Name
      th Quantity sold
      th(class="smallScreenHide") Selling Price
      th(class="smallScreenHide") Paid
      th Profit made
      th(class="tableDate") Date sold
    each sells in sell
      tr
        td= sells.name
        td= sells.quantity
        td(class="smallScreenHide")= sells.sellingPrice
        td(class="smallScreenHide")= sells.paid
        td= sells.profit
        td(class="tableDate")= sells.date
  h3(id="val") 
  h3(id="val2")

  h2 Buying Transactions

  table(class="table1" id="table2")
    tr
      th Name
      th Quantity bought
      th Buying Price
      th(class="tableDate") Date bought 
    each products in product
      tr
        td(id="pName")= products.name
        td= products.cumulativeQuantity
        td= products.buyingPrice
        td(class="tableDate")= products.date

  h3(id="shoesBought")

  script.
    var table = document.getElementById("table1"), sumVal = 0;
    for(var i = 1; i < table.rows.length; i++)
    {
    sumVal = sumVal + parseInt(table.rows[i].cells[4].innerHTML);
    }
    document.getElementById("val").innerHTML = "Total profit = " + sumVal.toLocaleString();
    //- console.log(sumVal);


    var totalShoes = document.getElementById("table1"), Total = 0;
      for(var i = 1; i < totalShoes.rows.length; i++)
    {
    Total = Total + parseInt(totalShoes.rows[i].cells[1].innerHTML);
    }
    document.getElementById("val2").innerHTML = "Total shoes sold = " + Total;

    var totalShoesBought = document.getElementById("table2"), sum = 0;
    for(var i = 1; i < totalShoesBought.rows.length; i++)
    {
    sum = sum + parseInt(totalShoesBought.rows[i].cells[1].innerHTML);
    }
    document.getElementById("shoesBought").innerHTML = "Total shoes bought = " + sum;


    function display() {
    window.print();
    }


    window.onload = function() {
    var dataPoints = [];
    var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    theme: "light2",
    title: {
    text: "Daily Sales Data"
    },
    axisY: {
    title: "Quantity",
    titleFontSize: 24,
    includeZero: true
    },
    axisX: {
      title: "Name",
      titleFontSize: 24,

    },
    data: [{
    type: "column",
    yValueFormatString: "#,### Units",
    dataPoints: dataPoints
    }]
    });
    function addData(data) {
    for (var i = 0; i < data.length; i++) {
      console.log(data[i].name)
    dataPoints.push({
    label: data[i].name,
    y: data[i].quantity
    });
    }
    chart.render();
    }
    $.getJSON("http://localhost:3000/sellTransactionsJSON", addData);
    }








