extends base

block content

  h1 Sale Transactions
  button(onclick='display()') Print records
  table( id="table1")
    tr
      th Name
      th Quantity sold
      th Selling Price
      th Paid
      th Profit made
      th Date sold
    each sells in sell
      tr
        td= sells.name
        td= sells.quantity
        td= sells.sellingPrice
        td= sells.paid
        td= sells.profit
        td= sells.date
  h3(id="val") Total=

  h1 Buying Transactions

  table(id="table1")
    tr
      th Name
      th Quantity bought
      th Buying Price
      th Date bought 
    each products in product
      tr
        td(id="pName")= products.name
        td= products.cumulativeQuantity
        td= products.buyingPrice
        td= products.date

  #chartContainer(style='height: 300px; width: 100%;')

  script.
    var table = document.getElementById("table"), sumVal = 0;
    for(var i = 1; i < table.rows.length; i++)
    {
    sumVal = sumVal + parseInt(table.rows[i].cells[4].innerHTML);
    }
    document.getElementById("val").innerHTML = "Total profit = " + sumVal;
    console.log(sumVal);


    function display() {
    window.print();
    }

 
  script(src='https://canvasjs.com/assets/script/jquery-1.11.1.min.js')
  script(src='https://canvasjs.com/assets/script/canvasjs.min.js')


  script.
    window.onload = function() {
    var dataPoints = [];
    var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    theme: "light2",
    title: {
    text: "Daily Sales Data"
    },
    axisY: {
    title: "Quantity",
    titleFontSize: 24,
    includeZero: true
    },
    data: [{
    type: "column",
    yValueFormatString: "#,### Name",
    dataPoints: dataPoints
    }]
    });
    function addData(data) {
    for (var i = 0; i < data.length; i++) {
    dataPoints.push({
    x: new Date(data[i].quantity),
    y: data[i].sellingPrice
    });
    }
    chart.render();
    }
    $.getJSON("http://localhost:3000/sellTransactionsJSON", addData);
    }




