extends layout

block layout-content

  h1 Sale Transactions
  button(onclick='display()') Print records
  table(class="table table-dark table-hover table-sm" id="table")
    tr
      th Name
      th Quantity sold
      th Selling Price
      th Paid
      th Profit made
      th Date sold
    each sells in sell
      tr
        td= sells.name
        td= sells.quantity
        td= sells.sellingPrice
        td= sells.paid
        td= sells.profit
        td= sells.date
  h3(id="val") Total=

  h1 Buying Transactions

  table(class="table table-dark table-hover table-sm")
    tr
      th Name
      th Quantity bought
      th Buying Price
      th Date bought 
    each products in product
      tr
        td= products.name
        td= products.cumulativeQuantity
        td= products.buyingPrice
        td= products.date

    script.
      var table = document.getElementById("table"), sumVal = 0;
      for(var i = 1; i < table.rows.length; i++)
      {
      sumVal = sumVal + parseInt(table.rows[i].cells[4].innerHTML);
      }
      document.getElementById("val").innerHTML = "Total profit = " + sumVal;
      console.log(sumVal);


      function display() {
      window.print();
      }
